<nav class="navbar navbar-expand-md navbar-dark bg-dark">    
    <a class="navbar-brand" routerLink="/">Union{{ envName }}</a>
    
    <button 
        class="navbar-toggler navbar-toggler-right"
        type="button" (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="showMainNav" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/union/noticeboard"
                *ngIf='_AUTH.adminRights([13])' routerLinkActive="active">Notice Board</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/union/usdaw"
                *ngIf='_AUTH.adminRights([14])' routerLinkActive="active">Usdaw</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/union/unite"
                *ngIf='_AUTH.adminRights([15])' routerLinkActive="active">Unite</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/union/contactus"
                *ngIf='_AUTH.adminRights([16])' routerLinkActive="active">Contact An Rep</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/union/button5"
                *ngIf='_AUTH.adminRights([17])' routerLinkActive="active">Button 5</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/union/button6"
                *ngIf='_AUTH.adminRights([18])' routerLinkActive="active">Button 6</button>
            </li>
        </ul>
        <!-- Admin Menus -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item" >
                <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/">Back</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/union/userProfile">Settings</button>
            </li>
        </ul>        
    </div>
</nav>
<router-outlet></router-outlet>