<nav class="navbar navbar-expand-md navbar-dark bg-dark">    
    <a class="navbar-brand" routerLink="/">Health & Safety{{ envName }}</a>
    
    <button 
        class="navbar-toggler navbar-toggler-right"
        type="button" (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="showMainNav" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/healthsafety/noticeboard" routerLinkActive="active">Notice Board</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/healthsafety/riskassesments" routerLinkActive="active">Store Risk Assessments</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/healthsafety/safesystems" routerLinkActive="active">Safe Systems Of Works</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/healthsafety/contactus" routerLinkActive="active">Report A Problem</button>
            </li>
        </ul>
        <!-- Admin Menus -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item" >
                <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/">Back</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/healthsafety/userProfile">Settings</button>
            </li>
        </ul>        
    </div>
</nav>
<router-outlet></router-outlet>