<div class="container">
  <ul class="nav nav-tabs nav-fill sectionNav">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(0) === 'A'}" (click)='selectedPage="A0"'>Basic Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(0) === 'B'}" (click)='selectedPage="B0"'>Upload Images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(0) === 'C'}" (click)='selectedPage="C0"'>Admin Rights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(0) === 'D'}" (click)='selectedPage="D0"'>Confirm</a>
    </li>
  </ul>
  <div *ngIf="selectedPage.charAt(0) === 'A'"> <!-- Basic Information -->
    <ul class="nav nav-tabs nav-fill basicNav">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(1) === '0'}" (click)='selectedPage="A0"'>Basic Info Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(1) === '1'}" (click)='selectedPage="A1"'>Job Titles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active':selectedPage.charAt(1) === '2'}" (click)='selectedPage="A2"'>Noticeboard Sections</a>
      </li>
    </ul>
    <div class='mainform' *ngIf="selectedPage === 'A0'"> <!-- Site Information -->
      <h4>Basic Info Form</h4>
      <br>
      <form [formGroup]="BasicSiteInfo">
        <div formGroupName="SiteDetails">
          <h3>Site Details</h3>
          <div class="form-row"><!-- Site Ref Code & Site Name -->
            <div class="form-group col-md-3">
              <label for="Site_Reference_Code">Site Ref Code : </label>
              <input type="text" class="form-control" id="Site_Reference_Code" aria-describedby="Site_Reference_Code"
                [class.is-invalid]='(SD_Ref.invalid) && SD_Ref.touched' [class.is-valid]='(SD_Ref.valid) && SD_Ref.touched'
                formControlName="siteReference" placeholder="New Site Reference Code">
            </div>
            <div class="form-group col-md-9">
              <label for="Site_Contract_Name">Site Contract Name : </label>
              <input type="text" class="form-control" aria-describedby="Site_Contract_Name" id="Site_Contract_Name"
                [class.is-invalid]='(SD_Name.invalid) && SD_Name.touched' [class.is-valid]='(SD_Name.valid) && SD_Name.touched'
                formControlName='siteContractName'  placeholder="Enter Your Site Contract Name">
            </div>
          </div>
          <div class="form-row"><!-- Site Open On & Week Start Day -->
            <div class="form-group col-md-6">
              <label for="Site_Start_Date">Site Opened On : </label>
              <input type="date" class="form-control" aria-describedby="Site_Start_Date" id="Site_Start_Date"
                [class.is-invalid]='(SD_Date.invalid) && SD_Date.touched' [class.is-valid]='(SD_Date.valid) && SD_Date.touched'
                formControlName='siteStartDate'>
            </div>
            <div class="form-group col-md-6">
              <label for="Site_Start_Week">Week Start Day : </label>
              <select class="form-control" id="Site_Start_Week" 
                [class.is-invalid]='(SD_Day.invalid) && SD_Day.touched' [class.is-valid]='(SD_Day.valid) && SD_Day.touched'
                formControlName='siteWeekStartDay'>
                <option *ngFor='let r of daysOfWeek; let i=index;' [value]=i>{{ r }}</option>
              </select>
            </div>
          </div>
        </div>
        <div formGroupName="ContactDetails">
          <h3>Contact Details</h3>
          <div class="form-row"><!-- Site Contact Name & Site Contact Title -->
            <div class="form-group col-md-6">
              <label for="Site_Contact_Name">Site Contact Name : </label>
              <input type="text" class="form-control" id="Site_Contact_Name" aria-describedby="Site_Contact_Name"
                [class.is-invalid]='(CD_Name.invalid) && CD_Name.touched' [class.is-valid]='(CD_Name.valid) && CD_Name.touched'
                formControlName="contactName" placeholder="Enter Your Site Contact Name">
            </div>
            <div class="form-group col-md-6">
              <label for="Site_Contact_Title">Site Contact Title : </label>
              <input type="text" class="form-control" aria-describedby="Site_Contract_Name" id="Site_Contract_Name"
              [class.is-invalid]='(CD_Title.invalid) && CD_Title.touched' [class.is-valid]='(CD_Title.valid) && CD_Title.touched'
              formControlName='contactTitle'  placeholder="Enter Your Site Contact Title">
            </div>
          </div>
          <div class="form-row"><!-- Site Contact Telephone & Site Contact Email -->
            <div class="form-group col-md-6">
              <label for="Site_Contact_Phone">Site Contact Phone Number : </label>
              <input type="text" class="form-control" aria-describedby="Site_Contact_Phone" id="Site_Contact_Phone"
                [class.is-invalid]='(CD_Tel.invalid) && CD_Tel.touched' [class.is-valid]='(CD_Tel.valid) && CD_Tel.touched'
                formControlName='telNumber'  placeholder="Enter Your Site Contact Phone Number">
            </div>
            <div class="form-group col-md-6">
              <label for="Site_Contact_Email">Site Contact Email Address : </label>
              <input type="text" class="form-control" id="Site_Contact_Email" aria-describedby="Site_Contact_Email"                
              [class.is-invalid]='(CD_Email.invalid) && CD_Email.touched' [class.is-valid]='(CD_Email.valid) && CD_Email.touched'
              formControlName="contactEmail" placeholder="Enter Your Site Contact Email Address">
            </div>
          </div>

        </div>

        <div formGroupName="address">
          <h3>Address</h3>
        
          <label>
            Street:
            <input type="text" formControlName="street">
          </label>
        
          <label>
            City:
            <input type="text" formControlName="city">
          </label>
          
          <label>
            State:
            <input type="text" formControlName="state">
          </label>
        
          <label>
            Zip Code:
            <input type="text" formControlName="zip">
          </label>
        </div>
      </form>

      values : {{ BasicSiteInfo.value | json }}
     



    </div>





  </div>





</div>