.jobTitleTable {
    width: 70%;
    height: 40px;
    vertical-align: bottom; 
}

.col20 {
    width : 20%;
    background-color: lightgrey;
}
.col30 {
    width : 30%;
}
.col33 {
    width :33%;
    text-align: center;
    color:lightgrey;
}
