<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-dark btn-block"
              [ngClass]="{'active':selectedPage.charAt(0) === 'A'}" (click)='selectedPage="A0"'>General Site Info</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark btn-block"
              [ngClass]="{'active':selectedPage.charAt(0) === 'B'}" (click)='selectedPage="B0"'>Upload Images</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark btn-block"
              [ngClass]="{'active':selectedPage.charAt(0) === 'C'}" (click)='selectedPage="C0"'>Admin Rights</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-dark btn-block"
              [ngClass]="{'active':selectedPage.charAt(0) === 'D'}" (click)='selectedPage="D0"'>Confirm & Save</button>
    </div>
  </div>

  <div *ngIf="selectedPage.charAt(0) === 'A'"> <!-- Basic Information -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '0'}" (click)='selectedPage="A0"'>Basic Info Form</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '1'}" (click)='selectedPage="A1"'>Job Titles</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '2'}" (click)='selectedPage="A2"'>Noticeboard Sections</button>
      </div>
    </div>
    <div class='mainform' *ngIf="selectedPage === 'A0'"> <!-- Site Information -->
      <h4>Basic Info Form</h4>
      <form [formGroup]="BasicSiteInfo">
        <div formGroupName="SiteDetails">
          <h3>Site Details</h3>
          <div class="form-row"><!-- Site Ref Code & Site Name -->
            <div class="form-group col-md-3">
              <label for="Site_Reference_Code">Site Ref Code : </label>
              <input type="text" class="form-control" id="Site_Reference_Code" aria-describedby="Site_Reference_Code"
                [class.is-invalid]='(SD_Ref.invalid) && SD_Ref.touched' [class.is-valid]='(SD_Ref.valid) && SD_Ref.touched'
                formControlName="siteReference" placeholder="New Site Reference Code">
            </div>
            <div class="form-group col-md-9">
              <label for="Site_Contract_Name">Site Contract Name : </label>
              <input type="text" class="form-control" aria-describedby="Site_Contract_Name" id="Site_Contract_Name"
                [class.is-invalid]='(SD_Name.invalid) && SD_Name.touched' [class.is-valid]='(SD_Name.valid) && SD_Name.touched'
                formControlName='siteContractName'  placeholder="Enter Your Site Contract Name">
            </div>
          </div>
          <div class="form-row"><!-- Site Open On & Week Start Day -->
            <div class="form-group col-md-6">
              <label for="Site_Start_Date">Site Opened On : </label>
              <input type="date" class="form-control" aria-describedby="Site_Start_Date" id="Site_Start_Date"
                [class.is-invalid]='(SD_Date.invalid) && SD_Date.touched' [class.is-valid]='(SD_Date.valid) && SD_Date.touched'
                formControlName='siteStartDate'>
            </div>
            <div class="form-group col-md-6">
              <label for="Site_Start_Week">Week Start Day : </label>
              <select class="form-control" id="Site_Start_Week" 
                [class.is-invalid]='(SD_Day.invalid) && SD_Day.touched' [class.is-valid]='(SD_Day.valid) && SD_Day.touched'
                formControlName='siteWeekStartDay'>
                <option *ngFor='let r of daysOfWeek; let i=index;' [value]=i>{{ r }}</option>
              </select>
            </div>
          </div>
        </div>
        <div formGroupName="ContactDetails">
          <h3>Contact Details</h3>
          <div class="form-row"><!-- Site Contact Name & Site Contact Title -->
            <div class="form-group col-md-6">
              <label for="Site_Contact_Name">Site Contact Name : </label>
              <input type="text" class="form-control" id="Site_Contact_Name" aria-describedby="Site_Contact_Name"
                [class.is-invalid]='(CD_Name.invalid) && CD_Name.touched' [class.is-valid]='(CD_Name.valid) && CD_Name.touched'
                formControlName="contactName" placeholder="Enter Your Site Contact Name">
            </div>
            <div class="form-group col-md-6">
              <label for="Site_Contact_Title">Site Contact Title : </label>
              <input type="text" class="form-control" aria-describedby="Site_Contract_Name" id="Site_Contract_Name"
              [class.is-invalid]='(CD_Title.invalid) && CD_Title.touched' [class.is-valid]='(CD_Title.valid) && CD_Title.touched'
              formControlName='contactTitle'  placeholder="Enter Your Site Contact Title">
            </div>
          </div>
          <div class="form-row"><!-- Site Contact Telephone & Site Contact Email -->
            <div class="form-group col-md-6">
              <label for="Site_Contact_Phone">Site Contact Phone Number : </label>
              <input type="text" class="form-control" aria-describedby="Site_Contact_Phone" id="Site_Contact_Phone"
                [class.is-invalid]='(CD_Tel.invalid) && CD_Tel.touched' [class.is-valid]='(CD_Tel.valid) && CD_Tel.touched'
                formControlName='telNumber'  placeholder="Enter Your Site Contact Phone Number">
            </div>
            <div class="form-group col-md-6">
              <label for="Site_Contact_Email">Site Contact Email Address : </label>
              <input type="text" class="form-control" id="Site_Contact_Email" aria-describedby="Site_Contact_Email"                
              [class.is-invalid]='(CD_Email.invalid) && CD_Email.touched' [class.is-valid]='(CD_Email.valid) && CD_Email.touched'
              formControlName="contactEmail" placeholder="Enter Your Site Contact Email Address">
            </div>
          </div>
        </div>
        <div formGroupName="SiteAddress">
          <h3>Site Address</h3> 
          <div formArrayName="addressLine">
            <div class="form-group col-md-9">
              <label for="Site_Address">Site Address : </label>
              <div class="input-group mb-3" *ngFor="let line of addressLine.controls; let i=index">
                <input type="text" class="form-control" aria-label="Recipient's username"
                aria-describedby="basic-addon2" [formControlName]="i" placeholder="Next Line">
                <div class="input-group-append" *ngIf='addressLine.controls.length == (i+1)'>
                  <button class="btn btn-outline-secondary" type="button" (click)="add_Line()">Add Line</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="Site_Address_PostCode">Site Address Post Code: </label>
            <input type="text" class="form-control" id="Site_Address_PostCode" aria-describedby="Site_Address_PostCode"
            [class.is-invalid]='(postcode.invalid) && postcode.touched' [class.is-valid]='(postcode.valid) && postcode.touched'               
            formControlName="postCode" placeholder="Enter Your Site Post Code">
          </div>
        </div>
      </form>
    </div> <!-- Site Information End -->
    <div class='mainform' *ngIf="selectedPage === 'A1'"> <!-- Job Titles -->
      <h4>Job Titles</h4>
      <p>This Is The Only Time You Will Be Able To Delete UnWanted Jobs</p>
      <table class="table" *ngFor="let job of jobTitles">
        <thead class="thead-dark">
          <tr>
            <th class='jobTitleTable'><h5>{{ job.job }}</h5></th>
            <th><button type="button" class="btn btn-danger" [disabled]='processing' (click)='removeAllJobs(job.job);'>Remove</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobTitle of job.title; let i = index">
            <td class='jobTitleTable'>{{ jobTitle }}</td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" [disabled]='processing' (click)='deleteJobTitle(job.job, i);'>Delete</button></td>
          </tr>
          <tr>
            <td class='jobTitleTable'>
              <div class="form-group">
                <input type="text" class="form-control" id="addJob" [class.is-invalid]='!!errorJobTitle[job.job]' placeholder="Add Job Title" [(ngModel)]="addJobTitle[job.job]">
                <small *ngIf='errorJobTitle[job.job]' class="form-text text-danger">{{errorJobTitle[job.job]}}</small>
              </div>
            <td>
              <button type="button" class="btn btn-outline-success btn-sm" (click)='newJobTitle(job.job, addJobTitle[job.job]);'>Add</button>
              <button *ngIf='errorJobTitle[job.job]' type="button" class="btn btn-outline-secondary btn-sm" (click)='errorJobTitle[job.job]=null; addJobTitle[job.job]=null'>Clear</button>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class='jobTitleTable'>
              <div class="form-group">
                <input type="text" class="form-control" id="job" [class.is-invalid]='!!errorJob' placeholder="Add Job" [(ngModel)]="addJob">
                <small *ngIf='errorJob' class="form-text text-danger">{{errorJob}}</small> <!-- error messages -->
              </div>
            </th>
            <th>
              <button type="button" class="btn btn-success" (click)='newJob(addJob);'>Add</button>
              <button *ngIf='errorJob' type="button" class="btn btn-secondary" (click)='errorJob=null; addJob=null'>Clear</button>            
            </th>
          </tr>
        </thead>
      </table>
    </div> <!-- Job Titles End -->
    <div class="mainform" *ngIf="selectedPage === 'A2'"> <!-- Notice Board -->
      <h4>Notice Board Sections</h4>
      <p>This Is The Only Time You Will Be Able To Delete UnWanted Notice Board Sections</p>
      <p>Every Department must have atleast one Section</p>
      <table class="table table-responsive-lg" *ngFor="let dept of noticeboardSections; let d = index">
        <thead class="thead-dark">
          <tr>
            <th class='noticeBoardTable'><h5>{{ dept.department }}</h5></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sectionTitle of dept.title; let i = index">
            <td class='noticeBoardTable'>{{ sectionTitle }}</td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" [disabled]='processing || dept.title.length==1' (click)='deleteSectionTitle(dept.department, i);'>Delete</button></td>
          </tr>
          <tr>
            <td class='noticeBoardTable'>
              <div class="form-group">
                <input type="text" class="form-control" id="addJob" [class.is-invalid]='!!errorNBSection[d]'
                placeholder="Add Noticeboard Section" [(ngModel)]="addNBSection[d]">
                <small *ngIf='dept.title.length==1' class="form-text text-success">You must have atleast one section in each Department</small>
                <small *ngIf='errorNBSection[d]' class="form-text text-danger">{{errorNBSection[d]}}</small>
              </div>
            <td>
              <button type="button" class="btn btn-outline-success btn-sm" (click)='newNoticeboardTitle(dept.department, addNBSection[d]);'>Add</button>
              <button *ngIf='errorNBSection[d]' type="button" class="btn btn-outline-secondary btn-sm" (click)='errorNBSection[d]=null; addNBSection[d]=null'>Clear</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- Notice Board End -->
  </div> <!-- Basic Information End -->

  <div *ngIf="selectedPage.charAt(0) === 'B'"> <!-- Upload Images -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '0'}" (click)='selectedPage="B0"'>Upload Images</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '1'}" (click)='selectedPage="B1"'>Select Site Image</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '2'}" (click)='selectedPage="B2"'>Select Welcome Display</button>
      </div>
    </div>
    <div class='mainform' *ngIf="selectedPage === 'B0'"> <!-- Upload Images -->
      <h4>Enter Details Of Images To Be Uploaded</h4>
      <div class="row">
        <div id="fileSelector">
          <input type="file" name="fileUplaod" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
        </div>
      </div>
      <table>
        <tr *ngFor="let item of uploader.queue">
          <td style='width:25%;'>{{item.file.name}}</td>
          <td style='width:55%;'>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar"  [ngStyle]="{'width':item.progress+'%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td style='width:20%;'>
            <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
            <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
          </td>
        </tr>
      </table>                  
      <div class="row" *ngIf="uploader?.queue?.length > 0">
        <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
      </div>
      <br>
      <h4>Uploaded Images</h4>
      <div class='row'>
        <div class='col-6 col-md-4 col-lg-3' *ngFor='let image of uploadedFileList; let i = index'>
          <div class="card text-center">
            <div class="card-header">
                <small>Original File Name : </small>
                <p>{{ image.originalname }}</p>
            </div>
            <div class="card-body">
              <img [src]="image.imgSrc" [alt]="image.originalname" class='cardImage'>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- Upload Images End -->
    <div class='mainform' *ngIf="selectedPage === 'B1'"> <!-- Select Site Image -->
      <h4>Select Site Image</h4>
      <br>
      <div class='row'>
        <div class='col-12 col-md-6 col-lg-5'>
          <div class="card text-center" *ngIf='selectedSiteImage.index!=-1'>
            <div class="card-header">
              <small>Original File Name : </small>
              <p>{{ selectedSiteImage.originalname }}</p>
            </div>
            <div class="card-body">
              <img [src]="selectedSiteImage.imgSrc" [alt]="selectedSiteImage.originalname" class='cardImage'>
            </div>
            <div class="card footer">
            </div>
          </div>
        </div>
        <div class='col-12 col-md-6 col-lg-7'>
          <form [formGroup]='siteImageForm'>
            <div class="form-group row"> <!-- title   -->
              <label for="siteTitle" class="col-sm-3 col-form-label">Title</label>
              <div class="col-sm-9">
                <input [class.is-invalid]='(siteTitle.invalid) && siteTitle.touched'
                formControlName='siteTitle' type="text" class="form-control" id="siteTitle"
                placeholder="Image Title">
              </div>
            </div>
            <div class="form-group row"> <!-- date   -->
              <label for="date" class="col-sm-3 col-form-label">Date Created</label>
              <div class="col-sm-9">
                <input [class.is-invalid]='(siteDate.invalid) && siteDate.touched'
                formControlName='siteDate' type="date" class="form-control" id="siteDate"
                placeholder="Date Created">
              </div>
            </div>
            <div class="form-group row"> <!-- Created By   -->
              <label for="name" class="col-sm-3 col-form-label">Created By</label>
              <div class="col-sm-9">
                <span class='form-control' id='name'>{{ employeeName }}</span>
              </div>
            </div>
            <div class="form-group row"> <!-- Created By   -->
              <label for="num" class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <span class='form-control' id='num'>{{ employeeNo }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <h4>All Available Images</h4>
      <div class='row'>
        <div class='col-6 col-md-4 col-lg-3' *ngFor='let image of uploadedFileList; let i = index'>
          <div class="card text-center" [style.border-color] = "image.used ? 'black' : 'red'">
            <div class="card-header">
                <small>Original File Name : </small>
                <p>{{ image.originalname }}</p>
            </div>
            <div class="card-body">
              <img [src]="image.imgSrc" [alt]="image.originalname" class='cardImage'>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary" [disabled]="image.used" (click)='selectSiteImage(image)'>Select</button>
            </div>
          </div>
        </div>
      </div>
      
    </div> <!-- Select Site Image End -->
    <div class="mainform" *ngIf="selectedPage === 'B2'"> <!-- Select Welcome Display -->
      <h4>Select Welcome Display</h4>
      <br>
      <div class='row'>
          <div class='col-12 col-md-6 col-lg-5'>
            <div class="card text-center" *ngIf='selectedCanteenImage.index!=-1'>
              <div class="card-header">
                <small>Original File Name : </small>
                <p>{{ selectedCanteenImage.originalname }}</p>
              </div>
              <div class="card-body">
                <img [src]="selectedCanteenImage.imgSrc" [alt]="selectedCanteenImage.originalname" class='cardImage'>
              </div>
              <div class="card footer">
              </div>
            </div>
          </div>
          <div class='col-12 col-md-6 col-lg-7'>
          <form [formGroup]='siteCanteenForm'>
            <div class="form-group row"> <!-- title   -->
              <label for="canteenTitle" class="col-sm-3 col-form-label">Title</label>
              <div class="col-sm-9">
                <input [class.is-invalid]='(canteenTitle.invalid) && canteenTitle.touched'
                formControlName='canteenTitle' type="text" class="form-control" id="canteenTitle"
                placeholder="Image Title">
              </div>
            </div>
            <div class="form-group row"> <!-- date   -->
              <label for="canteenDate" class="col-sm-3 col-form-label">Date Created</label>
              <div class="col-sm-9">
                <input [class.is-invalid]='(canteenDate.invalid) && canteenDate.touched'
                formControlName='canteenDate' type="date" class="form-control" id="canteenDate"
                placeholder="Date Created">
              </div>
            </div>
            <div class="form-group row"> <!-- Created By   -->
              <label for="name" class="col-sm-3 col-form-label">Created By</label>
              <div class="col-sm-9">
                <span class='form-control' id='name'>{{ employeeName }}</span>
              </div>
            </div>
            <div class="form-group row"> <!-- Created By   -->
              <label for="num" class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <span class='form-control' id='num'>{{ employeeNo }}</span>
              </div>
            </div>
          </form>
        </div>
      </div>                      
      <h4>All Available Images</h4>
      <div class='row'>
        <div class='col-6 col-md-4 col-lg-3' *ngFor='let image of uploadedFileList; let i = index'>
          <div class="card text-center" [style.border-color] = "image.used ? 'black' : 'red'">
            <div class="card-header">
              <small>Original File Name : </small>
              <p>{{ image.originalname }}</p>
            </div>
            <div class="card-body">
              <img [src]="image.imgSrc" [alt]="image.originalname" class='cardImage'>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-secondary" [disabled]="image.used" (click)='selectCanteenImage(image)'>Select</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Select Welcome Display End -->
  </div> <!-- Upload Images End -->

  <div *ngIf="selectedPage.charAt(0) === 'C'"> <!-- Admin Rights -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '0'}" (click)='selectedPage="C0"'>General Display</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '1'}" (click)='selectedPage="C1"'>General Employee</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-warning btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '2'}" (click)='selectedPage="C2"'>Site Admin User</button>
      </div>
    </div>
    <div class='mainform' *ngIf="selectedPage === 'C0'"> <!-- General Display -->
      <h4>Select Pages To Be Available On A General Display</h4>
      <p>Remember A General Display Cannot Have Access To Employee Or Administrator Pages</p>
      <div class='adminTable'>
        <div *ngFor='let a of adminSections'>
          <div class='row header'> {{ a.navBar }} </div>
          <div class='row'>
            <div class="col-12 col-sm-3 col-md-4 adminCheckBox" [class.active]='b.display' *ngFor='let b of a.section'>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]='b.display'>
                  <label class="form-check-label"> {{b.name}} </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- General Display End -->
    <div class='mainform' *ngIf="selectedPage === 'C1'"> <!-- General Employee -->
      <h4>Select Pages To Be Standard General Employeees Pages</h4>
      <p>Remember A General Employee Should Not Have Access To Administrator Pages</p>
      <p>Individual Pages Can Be Added To Employees As They Are Created</p>
      <div class='adminTable'>
        <div *ngFor='let a of adminSections'>
          <div class='row header'> {{ a.navBar }} </div>
          <div class='row'>
            <div class="col-12 col-sm-3 col-md-4 adminCheckBox" [class.active]='b.employee' *ngFor='let b of a.section'>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]='b.employee'>
                  <label class="form-check-label"> {{b.name}} </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- General Employee End -->
    <div class="mainform" *ngIf="selectedPage === 'C2'"> <!-- Site Admin User -->
      <h4>Select Pages To Be Main Site Admin Users Pages</h4>
      <p>Remember A Site Administrator Cannot Have Access To Employee Pages</p>
      <div class='adminTable'>
        <div *ngFor='let a of adminSections'>
          <div class='row header'> {{ a.navBar }} </div>
          <div class='row'>
            <div class="col-12 col-sm-3 col-md-4 adminCheckBox" [class.active]='b.admin' *ngFor='let b of a.section'>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]='b.admin'>
                  <label class="form-check-label"> {{b.name}} </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- Site Admin User End -->
  </div> <!-- Admin Rights End -->

  <div *ngIf="selectedPage.charAt(0) === 'D'"> <!-- Confirm Details & Save -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-primary btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '0'}" (click)='selectedPage="D0"'>General Information</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '1'}" (click)='selectedPage="D1"'>Images</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '2'}" (click)='selectedPage="D2"'>Default User Pages</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '3'}" (click)='selectedPage="D3"'>Initials Settings</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-danger btn-block"
        [ngClass]="{'active':selectedPage.charAt(1) === '4'}" (click)='selectedPage="D4"'>Create</button>
      </div>
    </div>

    <div class='mainform' *ngIf="selectedPage === 'D0'"> <!-- General Information -->
      <h4>Confirm : Basic Information</h4>
      <table class="table">
        <tbody>
          <tr>
            <td class='confirmTableItem'>Site Ref Code</td> <td class='confirmTableValue'>{{ SD_Ref.value }}</td>
            <td class='confirmTableItem'>Site Name</td> <td class='confirmTableValue'>{{ SD_Name.value }}</td>
          </tr>
          <tr>
            <td class='confirmTableItem'>Site Opened On</td><td class='confirmTableValue'>{{ SD_Date.value }}</td>
            <td class='confirmTableItem'>Site Start Off Week</td> <td class='confirmTableValue'>{{ daysOfWeek[SD_Day.value] }}</td>
          </tr>
          <tr>
            <td class='confirmTableItem'>Site Contact Name</td> <td class='confirmTableValue'>{{ CD_Name.value }}</td>
            <td class='confirmTableItem'>Site Contact Title</td> <td class='confirmTableValue'>{{ CD_Title.value }}</td> </tr>
          <tr>
            <td class='confirmTableItem'>Site Contact Email</td> <td class='confirmTableValue'>{{ CD_Email.value }}</td>
            <td class='confirmTableItem'>Site Contact Telephone No</td> <td class='confirmTableValue'>{{ CD_Tel.value }}</td>
          </tr>
          <tr>
            <td class='confirmTableItem'>Site Address</td>
            <td colspan="3">
              <p *ngFor="let line of addressLine.value">{{line}}</p>
              <p>{{ postcode.value }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- General Information End -->
    <div class='mainform' *ngIf="selectedPage === 'D1'"> <!-- Images -->
      <h4>Images</h4>
      
    </div> <!-- Images End -->
    <div class="mainform" *ngIf="selectedPage === 'D2'"> <!-- Default User Pages -->
      <h4>Confirm : Default User Pages</h4>
      <table class="table">
        <thead>
          <tr class="table-warning">
            <th>Display</th>
            <th>Employee</th>
            <th>Administrator</th>
          </tr>
        </thead>
        <tbody  *ngFor='let a of adminSections'>
          <th class='table-secondary' colspan="3">{{ a.navBar }}</th>
          <tr *ngFor='let b of a.section'>
            <td class='confirmAdminTable' [class.confirmAdminActive]='b.display'>{{b.name}}</td>
            <td class='confirmAdminTable' [class.confirmAdminActive]='b.employee'>{{b.name}}</td>
            <td class='confirmAdminTable' [class.confirmAdminActive]='b.admin'>{{b.name}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- Default User Pages End -->
    <div class="mainform" *ngIf="selectedPage === 'D3'"> <!-- Initials Settings -->
      <h4>Confirm : Initial Settings</h4>
      <!-- Notice Board Sections -->
      <table class='table'>
        <thead class="thead-dark"> <tr> <th>Notice Board Sections</th> <th></th> </tr> </thead>
        <tbody>
          <tr *ngFor='let notice of noticeboardSections'>
            <td class='noticeboardHeader'>{{ notice.department }}</td>
            <td><p class='noticeboardItem' *ngFor='let section of notice.title'>{{ section }}</p></td>
          </tr>
        </tbody>
      </table>
      <!-- Job Titles -->
      <table class='table'>
        <thead class="thead-dark"> <tr> <th>Job Titles</th> <th></th> </tr> </thead>
        <tbody>
          <tr *ngFor='let job of jobTitles'>
            <td class='noticeboardHeader'>{{ job.job }}</td>
            <td><p class='noticeboardItem' *ngFor='let titles of job.title'>{{ titles }}</p></td>
          </tr>
        </tbody>
      </table>
    </div><!-- Initials Settings End -->
    <div class="mainform" *ngIf="selectedPage === 'D4'"> <!-- Create -->
      <h4>Create</h4>

    </div><!-- Create End -->
  </div> <!-- Confirm & Save End -->
</div>