<nav class="navbar navbar-expand-md navbar-light bg-light">    
    <a class="navbar-brand" routerLink="/">Supervisor{{ envName }}</a>
    
    <button 
        class="navbar-toggler navbar-toggler-right"
        type="button" (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="showMainNav" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/admin/supervisor/button1"
                *ngIf='_AUTH.adminRights([25])' routerLinkActive="active">Button 1</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/admin/supervisor/button2"
                *ngIf='_AUTH.adminRights([26])' routerLinkActive="active">Button 2</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/admin/supervisor/button3"
                *ngIf='_AUTH.adminRights([27])' routerLinkActive="active">Button 3</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/admin/supervisor/button4"
                *ngIf='_AUTH.adminRights([28])' routerLinkActive="active">Button 4</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/admin/supervisor/button5"
                *ngIf='_AUTH.adminRights([29])' routerLinkActive="active">Button 5</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/admin/supervisor/button6"
                *ngIf='_AUTH.adminRights([30])' routerLinkActive="active">Button 6</button>
            </li>
        </ul>
        <!-- Admin Menus -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item" >
                <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/">Back</button>
            </li>
        </ul>        
    </div>
</nav>
<router-outlet></router-outlet>